
<div id="divMenu">
  <ul>
      <li><a href="#">Home</a>
      <!-- <ul>
          <li><a href="#">Homea</a></li>
          <li><a href="#">Homeb</a></li>
          <li><a href="#">Homec</a></li>
      </ul> -->
          </li>

    <!-- <li><a href="#">Services</a> 
    <ul> -->
        <li><a href="#">Career</a>
             <ul>
                <li><a href="#">Success</a></li>
                <!-- <li><a href="#">Homee</a></li>
                <li><a href="#">Homef</a></li> -->
            </ul>
        </li>
      <li><a href="#">Marriage</a>
              <ul>
          <li><a href="#">Love & Relationship</a></li>
          <li><a href="#">Children</a></li>
          <!-- <li><a href="#">Homei</a></li> -->
      </ul></li>
      <li><a href="#">Property</a>
        <ul>
          <li><a href="#">Business</a></li>
          <li><a href="#">Wealth</a></li>
          <li><a href="#">House</a></li>
      </ul>
      </li>
      <li><a href="#">Dosh Nivaran</a>
              <ul>
          <li><a href="#">Mangalik</a></li>
          <li><a href="#">Kundali</a></li>
          <!-- <li><a href="#">Homel</a></li> -->
      </ul></li>
      <li><a href="#">Health</a></li>
      <li><a href="#">Rirulas and Pooja</a></li>
      <li><a href="#">Travel</a></li>
      <li><a href="#">Name Analysis</a></li>
    <!-- </ul>  
    </li> -->

      <li><a href="#">Astrology</a></li>
      <li><a href="#">Predictions</a>
        <ul>
          <li><a href="#">Numerology</a></li>
          <li><a href="#">Tarot</a></li>
          <li><a href="#">Vastu</a></li>
          <li><a href="#">Palmistry</a></li>
        </ul>
      </li>
      <li><a href="#">Festivals</a></li>
      <li><a href="#">Astroshop</a></li>
      <li><a href="#">Talk to Astrolger</a></li>
      <li><a href="#">Online Pooja</a></li>
  </ul>
  </div>